@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*, :root {
    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

:root {
    font-size: 62.5%;

    --bg-main-color: #0F172A;
    --bg-question-color: #1E293B;
    --bg-answers-color: #334155;
    --text-color: #F1F5F9;
    --radio-unchecked-color: #94A3B8;
    --radio-checked-color: #A3E635;
}

body {
    background-color: var(--bg-main-color);
    font-size: 1.6rem;
}

main {
    padding: 0 2rem 2rem 2rem;
    max-width: 70rem;
    margin: 0 auto;
}

#topo {
    background-color: var(--bg-main-color);

    padding-top: 3.5rem;

    position: relative;
    z-index: 1;
}

logo {
    margin: 0;
}

#titulo {
    margin: 2.4rem 0;
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 600;
}

hr {
    background-color: var(--bg-answers-color);
    height: 0.1rem;
    border: 0;
}

#quiz {
    animation: customAni ease-in-out 3s;
}

#quiz .quiz-item {
    color: var(--text-color);
    margin-top: 2.4rem;
    border-radius: 0.7rem;
    border: 0.2rem solid var(--bg-answers-color);
}

#quiz .pergunta #num_pergunta {
    height: 2.8rem;
    background-color: var(--bg-answers-color);
    border-radius: 50%;

    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    line-height: 2.8rem;
}

#quiz .pergunta #text_pergunta {
    font-size: 1.6rem;
    font-weight: 600;
}

#quiz .pergunta {
    display: grid;
    grid-template-columns: 2.8rem auto;
    gap: 1.2rem;
    align-items: center;

    padding: 1.6rem 2rem;

    background-color: var(--bg-question-color);
    border-radius: 0.6rem 0.6rem 0 0;
}

#quiz .respostas {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 2rem 2.4rem 1.2rem 2.7rem;
    background-color: var(--bg-answers-color);
    border-radius: 0 0 0.6rem 0.6rem;
}

#quiz .respostas .resposta {
    margin-bottom: 1rem ;
    display: grid;
    grid-template-columns: 1.6rem auto;
    gap: 0.8rem;
    align-items: center;
}

#quiz .respostas .resposta input[type="radio"] {
    appearance: none;
    outline: 0.1rem solid var(--radio-unchecked-color);
    border: 0.2rem solid var(--bg-answers-color);
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    vertical-align: middle;
    transition: outline 0.3s, background-color 0.3s;
}

#quiz .respostas .resposta input[type="radio"]:checked {
    outline: 0.1rem solid var(--radio-checked-color);
    background-color: var(--radio-checked-color);
}

#acertos {
    text-align: center;
    background-color: var(--radio-checked-color);
    
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    padding: 1.2rem;
}

@keyframes customAni {
    0% {
      transform: translateY(-102%);
    }
  
    100% {
      transform: translateY(0);
    }
}